# Website Configuration
URL=https://www.naccanada.org/

# Your Church Website Credentials
USERNAME="your_username_here"
PASSWORD="your_password_here"

# Personalization for Calendar Sync
SEARCH_NAME="Your Name Here eg. (Pr. J. Doe) or how it appears in the Schedule PDF"
LOCAL_TIMEZONE="America/Toronto"
SERVICE_DURATION_HOURS=1.5
REMINDER_MINUTES=1440

# Folder Paths
DSGS_DIR="C:\Path\To\Your\Documents\Church\DSGs"

# List of cities found in your specific district schedules
LOCATIONS="London,Sarnia,Windsor,Cambridge,Woodstock,Kitchener Spanish,Kitchener East,Margaret Ave,New Hamburg,Guelph,Fergus,Hanover,Owen Sound"

# Browser Configuration
EDGE_DRIVER_PATH=""
SKIP_WEBDRIVER_MANAGER=false
